# requirements below need to environment
compress-pickle==1.1.0
gym==0.15.4
MorganFingerprint==1.14
pony~=0.7.13
CGRtools[mrv]
git+https://github.com/stsouko/CIMtools.git@master#egg=CIMtools
git+https://github.com/stsouko/CGRdb.git@4.0#egg=CGRdb
# git+https://github.com/pandylandy/RNNSynthesis.git@smcount4#egg=RNNSynthesis не работает
git+https://github.com/pandylandy/RNNSynthesis.git@master#egg=RNNSynthesis
git+https://github.com/stsouko/LazyPony@master#egg=LazyPony
git+https://github.com/pandylandy/CGRdbData.git@master#egg=CGRdbData
matplotlib